.menucard img{
    margin-top: auto;
    padding: auto;
    /* height: 180px; */
}

.menucard{
    border: solid;
    margin: 40px;
    color: #3A98B9;
    border-color: #000;
    display: inline-block;
}
h3{
    text-align: center;
    font-weight: bolder;
    font-family: cursive;
    /* font-size: 24px; */
}
.fa-plus{
    padding-left: 20px;
    font-size: 1.5rem;
}

.fa-minus{
    padding-right: 20px;
    font-size: 1.5rem;
}

.added span{
    font-size: 1.5rem;
}

.added{
    padding-bottom: 10px;
}

.cardbod{
    text-align: center;
    /* padding-left: ; */
    margin-left: 0;
}

.imgdiv {
    padding-left: 20px;
}
a:hover{
    cursor: pointer;
    color: rgb(240, 13, 13);
}

a{
    border-color: #000;
    border-width: 2px;
}