.usernav {
background-attachment: fixed;
 padding: 2% 5%;
 font-size: 1.5rem;
}
.navname {
    font-size: 1.8rem;
}
.usernav li{
    margin: 0 10px;
}
nav{
    font-family: 'Times New Roman', Times, serif;
}
.usernav li:hover{
    cursor: pointer;
}

.userhomebg{
    background-color: #ffffff;
}

.active{
    font-weight: bolder;
    font-size: 1.5rem;
}
.kkk{
    border:solid 1px #9BA4B5;
    border-bottom: none;
}

.buttonx:hover {
    background-color: black;
}

.ba {
    background-color: black;
    color: #fff;
}