.adminpanelbg {
  background-color: #F1F6F9;
  /* background-image: url("https://www.transparenttextures.com/patterns/black-thread.png"); */
}

.usernav {
  padding: 2% 5%;
  font-size: 1.rem;
}

.navname {
  font-size: 1.8rem;
}

.usernav li {
  margin: 0 10px;
}

.usernav li:hover {
  cursor: pointer;
}
