.dashcard1{
    display: inline-block;
    margin: 5% 10% 5% 10%;
}

.dashcard2{
    display: inline-block;
}

.dashcard1 i{
    margin: 30px;
    font-size: 3rem;
}

.dashcard2 i{
    margin: 30px;
    font-size: 3rem;
}

.cardbody {
    margin: 10px 0 0 70px
}

.tablehead{
    background-color: #fff;
    margin: 0 30% 0 30%;
    text-align: center;
}

.ordertable{
    vertical-align: middle;
    text-align: center;
}