.login{
    background-color: rgba(255, 251, 245,0.8);
    border-radius: 7px;
    padding: 2%;
    margin: 0 30%;
}

.btn-lg:hover{
    background-color: #537FE7;
}
input{
    border-radius: 0px;
}
.form-group{

    display: flex;
    /* flex-direction: column; */
    width: 310px;
    /* margin: 10px; */
    /* padding: 0px; */
  }
  .btn2{
    background-color: #c2b588;
    align-items: center;
    padding: auto;
    border-width: 2px;
    border-color: black;
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
  }
  .btn1.hover{
    background-color: #537FE7;
  }